@import url('https://fonts.googleapis.com/css?family=Numans');
/* Green: 14a76c, orange: ff652f*/
html,body{
/* background-image: url('../res/grey-1.jpg');
 */
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 100%);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100%;
scroll-behavior: smooth;
font-family: 'Numans', sans-serif;
}


.container{
height: 100%;
align-content: center;
}

.card{
height: 25rem;
margin-top: auto;
margin-bottom: auto;
width: 25rem;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #ff652f;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #ff652f;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #ff652f;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

#rightNavbar{
    padding-right:0rem;
    
}

#leftNavbar{
    padding-left: 0rem;
}

.container{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -350px;
    margin-left: -350px;
}

.navbar {
    background-color:#747474 ;
    
}

.nav-link{
    color: #000000;
    font-size: 20px;
}

.diagram{
    border-radius: 8px;
    width:300px;
    height:200px;
}

.headline{
    /* background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 100%); */
    text-align: center;
    padding:2px 6px 4px 6px; 
    /* background-color: #14a76c;  */
    /* border: #000 2px solid */
}

.survey-text{
    color: white;
}

.search-result-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }

  
  .search-result-card-link {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .search-result-card-btn:hover, a:hover {
    opacity: 0.7;
  }

  .navbar-brand {
    width:7rem;
    font-size: 24px;
  }
  .navbar-brand img {
    height: 5rem;
    /* put value of image height as your need */
    float: left;
    margin-right: 7px;
  }

  .navbar-brand{
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
  }

  .headline-text-container {
    padding-top: 2rem;
    color: #14a76c;
  }

  .submit span {
    display: none;
  }
  .submit:after {
    content: 'whatever it is you want to add';
  }